// Messages.
.region.region-highlighted {
  padding: 0;

  .region-wrapper {
    max-width: none;
  }
}

.messages {
  font-size: em(28);
  margin: 0;
  color: $color_black;
  background: lightgray;
  border: 0;
  word-wrap: break-word;
  text-align: center;
  font-family: $secondary_font;
  font-weight: 900;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: em(32, true);
    height: em(32, true);
    margin: 0 auto em(20, 28);
    position: absolute;
    left: 20px;
    top: 18px;
  }

  pre {
    border: 0;
  }
}

.messages--warning {
  color: $color_yellow;
  background-color: $color_light_yellow;

  &:before {
    background: url(../../images/warning.svg) no-repeat;
  }

  pre {
    background-color: $color_yellow, 10%;
  }
}

.messages--error {
  color: $color_red;
  background-color: $color_light_red;

  &:before {
    background: url(../../images/error.svg) no-repeat;
  }

  pre {
    background-color: $color_red, 10%;
  }
}

.messages--status {
  color: $color_blue;
  background-color: $color_light_blue;
  box-shadow: -8px 0 0 $color_blue;

  &:before {
    background: url(../../images/success.svg) no-repeat;
  }

  pre {
    background-color: $color_light_blue, 10%;
  }
}
