body {
  hyphens: auto;
  font-family: $primary_font;
  overflow-x: hidden;
}

.region {
  padding: 0 $padding_mobile_side 0;

  @include breakpoint($bpw_luke) {
    padding: 0 $padding_tablet_side 0;
  }

  @include breakpoint($bpw_jabba) {
    padding: 0 $padding_desktop_side 0;
  }
}

.region-wrapper {

  @include breakpoint($bpw_jabba) {
    max-width: $max_width;
    margin: 0 auto;
  }
}
