// =============================================================================
// Font Sizes Here: Be smart keep base font size at 16px unless you want to make your job hard.
// =============================================================================
$base-font-size: 16px;

// =============================================================================
// Font stack here
// =============================================================================
$primary_font: $muli;
$secondary_font: $montserrat;

// =============================================================================
// Color Palette
// =============================================================================

//primary
$color_white:           #fff;
$color_black:           #000;
$color_blue:            #1779ba;
$color_encore_blue:     #0278ff;

$color_light_blue:      #e6f5fb;
$color_red:             #f92b2c;
$color_light_red:       #ffdfdf;
$color_border_gray:     #dcdcdc;
$color_yellow:          #e3d23f;
$color_light_yellow:    #fbfbe6;
$color_green:           #6cb448;

//font
$color_font_black:      #313131;

// =============================================================================
// Basic tab styling colors
// =============================================================================
$color_tab_border_bottom: $color_blue;
$color_tab_background:    $color_blue;
$color_tab_hover:         rgba($color_blue, 0.9);
$color_tab_color:         $color_white;

// =============================================================================
// Gradients
// =============================================================================


// =============================================================================
// Base Sizing, padding, and Margins
// =============================================================================

// padding

//mobile
$padding_mobile_top:        rem(15);
$padding_mobile_side:       rem(15);
$padding_mobile_bottom:     rem(15);
$padding_mobile:            $padding_mobile_top $padding_mobile_side $padding_mobile_bottom;

//tablet
$padding_tablet_top:        rem(30);
$padding_tablet_side:       rem(30);
$padding_tablet_bottom:     rem(30);
$padding_tablet:            $padding_tablet_top $padding_tablet_side $padding_tablet_bottom;

//desktop
$padding_desktop_top:       rem(60);
$padding_desktop_side:      rem(60);
$padding_desktop_bottom:    rem(60);
$padding_desktop:           $padding_desktop_top $padding_desktop_side $padding_desktop_bottom;

// Max width of containers
$max_width: rem(1300);

// =============================================================================
// Media Queries
// =============================================================================


//Breakpoint Width
$bpw_mouse_droid:     em(300);
$bpw_mouse_droid_max: em(299);
$bpw_yoda:            em(460);
$bpw_yoda_max:        em(459);
$bpw_fat_yoda:        em(550);
$bpw_fat_yoda_max:    em(549);
$bpw_ewok:            em(680); // tablet
$bpw_ewok_max:        em(679);
$bpw_luke:            em(760);
$bpw_luke_max:        em(759);
$bpw_vader:           em(860);
$bpw_vader_max:       em(859);
$bpw_jabba:           em(1000); // desktop
$bpw_jabba_max:       em(999);
$bpw_atst:            em(1100);
$bpw_atst_max:        em(1099);
$bpw_fat_atst:        em(1200);
$bpw_atat:            em(1300);
$bpw_atat_max:        em(1299);
$bpw_deathstar:       em(1600);
$bpw_deathstar_max:   em(1599);
$bpw_nexu:            em(1900);
$bpw_dianoga:         em(2400);

//Breakpoint Height landscape
$bph_mouse_droid:     em(352);
$bph_yoda:            em(500);
$bph_fat_yoda:        em(600);
$bph_ewok:            em(860); // tablet
$bph_luke:            em(920);
$bph_vader:           em(660);
$bph_jabba:           em(644); // desktop
$bph_atst:            em(580);
$bph_atat:            em(540);
$bph_deathstar:       em(825);
$bph_nexu:            em(855);
$bph_Dianoga:         em(1200);
