// =============================================================================
// Importing this here fixes issues, it's magical just go with it.
// =============================================================================
@import "mixins/global-mixins";

// =============================================================================
// Font Sizes Here: Be smart keep base font size at 16px unless you want to make your job hard.
// =============================================================================
$base-font-size: 16px;

// =============================================================================
// Font stack here
// =============================================================================
$primary_font: '';
$alternative_font: '';


// =============================================================================
// Basic tab styling colors
// =============================================================================
$color_tab_border_bottom: #1779ba;
$color_tab_background:    #1779ba;
$color_tab_hover:         rgba(#1779ba, .9);
$color_tab_color:         #FFFFFF;

// =============================================================================
// Color Palette
// =============================================================================

//primary
$color_white:           #ffffff;
$color_black:           #000000;
$color_blue:            #1779ba;
$color_encore_blue:     #0278ff;

//font
$color_font_black:      #313131;

// =============================================================================
// Gradients
// =============================================================================


// =============================================================================
// Base Sizing, padding, and Margins
// =============================================================================

// padding

//mobile
$padding_mobile:        em(22, true);
$padding_mobile_left:   em(22, true);
$padding_mobile_right:  em(22, true);
$padding_mobile_top:    em(22, true);
$padding_mobile_bottom: em(22, true);
//tablet
$padding_tablet:        em(58, true);
$padding_tablet_left:   em(58, true);
$padding_tablet_right:  em(58, true);
$padding_tablet_top:    em(58, true);
$padding_tablet_bottom: em(58, true);
//desktop
$padding_desktop:       em(66, true);
$padding_mobile_left:   em(66, true);
$padding_mobile_right:  em(66, true);
$padding_mobile_top:    em(66, true);
$padding_mobile_bottom: em(66, true);

$max_width: em(1300, true);

// =============================================================================
// Media Queries
// =============================================================================

$media_mouse_droid:     em(300);
$media_mouse_droid_max: em(299);
$media_yoda:            em(460);
$media_yoda_max:        em(459);
$media_fat_yoda:        em(550);
$media_fat_yoda_max:    em(549);
$media_ewok:            em(680); // tablet
$media_ewok_max:        em(679);
$media_luke:            em(760);
$media_luke_max:        em(759);
$media_vader:           em(860);
$media_vader_max:       em(859);
$media_jabba:           em(1000); // desktop
$media_jabba_max:       em(999);
$media_atst:            em(1100);
$media_atst_max:        em(1099);
$media_fat_atst:        em(1200);
$media_atat:            em(1300);
$media_atat_max:        em(1299);
$media_deathstar:       em(1600);
$media_deathstar_max:   em(1599);
